<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SO Demo</display-name>
  <servlet>
        <servlet-name>SO Demo</servlet-name>
        <servlet-class>com.vaadin.flow.server.VaadinServlet</servlet-class>
	<async-supported>true</async-supported>
	<load-on-startup>1</load-on-startup>
        <init-param>
                <description>Idle Sessions</description>
                <param-name>closeIdleSessions</param-name>
                <param-value>true</param-value>
        </init-param>
  </servlet>
  <servlet-mapping>
        <servlet-name>SO Demo</servlet-name>
        <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <session-config>
  <session-timeout>55</session-timeout>
  </session-config>
</web-app>
